# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Installer files
*.egg
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# Pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
